*{
    background-color: silver;
   /* letter-spacing: 1px;*/
    font-family: 'Poppins', sans-serif;
}

body{
    position: relative;
    overflow: auto
}

nav.navbar a, .fa-bars{
    color: purple;
    font-size: 18px;
    font-style: bold;
}


.navbar-custom{
    margin: 0px;
    padding: 0px;
}

nav.navbar a:hover, .fa-bars:hover{
    color: green;
    transition: 0.75s;
}

.active{
    color: green;
    transition: 0.75s;
}

.jumbotron_text{
    margin-top: 30px;
}

header.jumbotron h3{
    background: -webkit-linear-gradient(green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Domine', serif;
    font-style: bold;
}

div.jumbotron h4{
    background: -webkit-radial-gradient(blue, green);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Domine', serif;
    /*font-style: bold;*/
}

.jumbotron_img{
    margin-top: 50px;
}

div.btn-group a:hover{
    transform: scale(1.2);
}

hr.divider{
    width: 30%;
    margin-left: 35%;
    border: 2px solid red;
    
}

div.container h3{
    background: -webkit-radial-gradient(green, blue);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    font-family: 'Domine', serif;
    font-style: bold;
}

.anchor_about{
    padding-top: 100px;
}

.anchor_skill{
    padding-top: 190px;
}

.anchor_exp{
    padding-top: 200px;
}

.anchor_contact{
    padding-top: 200px;
}

div.jumbotron ul{
    margin-bottom: 0px;
}

div.jumbotron ul li:hover{
    transform: scale(1.2);
}

.gotopbtn{
    position: fixed;
    background: transparent;
    bottom: 40px;
    right: 40px;
    text-decoration: none;
    text-align: center;
    line-height: 50px;
    color: black;
    font-size: 22px;
}

.gotopbtn:hover{
    position: fixed;
    bottom: 45px;
    color: green;
}

footer ul li:hover{
    transform: scale(1.1);
}

/* #da70d6 = orchid */
/* font-family: 'Poppins', sans-serif; */
/* font-family: 'Domine', serif; */